* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

.homePage {
  width: 100%;
  height: 100vh;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/background.png.jpg");
  background-size: cover;
  background-position: center;
}

.headerHome {
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5em;
  color: rgb(85, 82, 82);
  margin-bottom: 50px;
}

.inputHomePage {
  width: 200px;
  margin-right: 1em;
}

.inputBtn {
  width: 100px;
  height: 50px;
  background-color: rgba(0, 0, 255, 0.455);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

.inputBtn:hover {
  background-color: #a5b4c6;
}

.inputBtn:active {
  /* background-color: #a5b4c6; */
  transform: translateY(2px);
}
